
html,body{
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(rgba(255,255,255,0.75), rgba(255, 255, 255, 0.9)), url('../images/wallpaper.jpg') no-repeat center fixed;
  background-repeat: no-repeat;
  background-position: center-top;
  background-size: 100% 100%;
  overflow-x: hidden;
}

/* General styles */

h1 {
  font-family: "Playfair Display", Verdana, Tahoma, sans-serif;
  font-size: 3.25em;
  padding: 45px 15px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: "Playfair Display", Verdana, Tahoma, sans-serif;
  margin-bottom: 2.5em;
  color: #0C0C0C;
  font-size: 2em;
  text-transform: uppercase;
}

ul {
  margin: 5 auto;
  display: inline-block;
  list-style-type: square;
}

li {
  margin: 0 0 1% 0;
}

a {text-decoration: none}
  
  
.elegantshadow {
color: #c50bbcd8;
background-color: #bce7c3;
letter-spacing: .15em;
text-shadow: 
  1px -1px 0 #9e0084, 
  -1px 2px 1px #85056f, 
  -2px 4px 1px #5e064f, 
  -3px 6px 1px #36042e, 
  -4px 8px 1px #25011f, 
  -5px 10px 1px #2e042c, 
  -6px 12px 1px #118b2c, 
  -7px 14px 1px #229418, 
  -8px 16px 1px #23a735, 
  -9px 18px 1px #2c920d, 
  -10px 20px 1px #36c911, 
  -11px 22px 1px #1cad09, 
  -12px 24px 1px #36df7c, 
  -13px 26px 1px #86e06f, 
  -14px 28px 1px #73eea2, 
  -15px 30px 1px #22b141, 
  -16px 32px 1px #1cce16, 
  -17px 34px 1px #68d17f, 
  -18px 36px 1px #8decb8, 
  -19px 38px 1px #7ee28e, 
  -20px 40px 1px #92ec92, 
  -21px 42px 1px #b8fabe, 
  -22px 44px 1px #b3f1b6, 
  -23px 46px 1px #adf0bb, 
  -24px 48px 1px #bce7c3, 
  -25px 50px 1px #bce7c3, 
  -26px 52px 1px #bce7c3, 
  -27px 54px 1px #bce7c3, 
  -28px 56px 1px #bce7c3;
}  
  
/* Classes */
  
.center{
  text-align: center;
}

div.align-content{
  text-align: left;
  display: inline-block;
}

div.biography{
  padding: 2.5%;
  margin: 5% 0% 2.5% 0%;
}
    
div.legacy{
  margin: 1.5% 0% 2.5% 0%;
  padding: 2.5%;
}

div.works{
  padding: 2.5%;
  margin: 1.5% 0% 2.5% 0%;
}
  
div.quotes{
  padding: 2.5%;
  margin: 1.5% 0% 2.5% 0%;
}

.footer{
  text-align: center;
  background-color: #bce7c3;
  margin-top: 2.5%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: rgba(197, 11, 188, 0.85);
  font-weight: 900;
  width: 100%;
}

/* Attributes */

#presentation{
  padding: 1%;
  margin-top: 2.5%;
}

/* Slider configuration */
  
#slider{
  overflow: hidden;
  max-width: 700px;
  min-width: 280px;
  margin: 0 auto;
  box-shadow: 0 0 0 0.5px black;
  box-shadow: 0 0 0 0.5px black;
  border-left: solid black 7.5em;
  border-right: solid black 7.5em;
  border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
}

@media screen and (max-width: 600px) {
  #slider {
    border: none;
  }
}


#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img{
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20%{
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}